@import "_mixins.scss";

/* -------------------------------------------------------- MOBILE LANDSCAPE ----- */

@media (min-width: 576px) and (orientation: landscape) {
  .display {
    width: 85%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: green;
    .characterName {
      @include galleryH1;
    }
  }

  aside {
    position: relative;
    width: auto;
    max-width: 25%;
    height: 100vh;
    overflow: hidden;

    .choice {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: min-content;
      height: 98vh;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  .thumbnail {
    width: 10vw;
    padding: min(0.5rem, 50px);
    margin: 0.5rem 4rem 0.5rem 2rem;
    img {
      aspect-ratio: 1;
      width: 100%;
      height: auto;
      border-radius: 20px;
    }
  }
}

/* -------------------------------------------------------------- TABLET LANDSCAPE ----- */

@media (min-width: 992px) and (orientation: landscape) {
  /* styles */
}

/* Laptop */
@media (min-width: 1200px) and (max-width: 1399px) {
  /* styles */
}

/* Desktop/Large screens */
@media (min-width: 1400px) {
  /* styles */
}
