@import "_mixins.scss";

/* -------------------------------------------------------- MOBILE LANDSCAPE ----- */

@media (min-width: 576px) and (orientation: landscape) {
  .bgSky {
    min-height: 110vh;
    width: 100vw;

    h1 {
      top: 15vh;
      font-size: 4rem;
    }
  }

  .skyline {
    top: 55vh;
    width: 100vw;
  }
  .character {
    top: 120vh;
    left: 50vw;
  }
}

/* -------------------------------------------------------------- TABLET LANDSCAPE ----- */

@media (min-width: 992px) and (orientation: landscape) {
  .bgSky {
    h1 {
      top: 15vh;
      font-size: 10rem;
    }
  }

  /*styles*/
}

/* Laptop */
@media (min-width: 1200px) {
  h1 {
    top: 25vh;
    font-size: 10rem;
  }
  /* styles */
}

/* Desktop/Large screens */
@media (min-width: 1400px) {
  /* styles */
}
