@mixin display {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto */
}

@mixin galleryH1 {
  color: white;
  white-space: nowrap;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
