.navbar {
  background-color: yellowgreen;
  width: 100vw;
  height: 5rem;
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  left: 0;
}
.navbar ul {
  list-style: none;
  display: flex;
}
.navbar ul li {
  margin: 0 5rem;
}
