/* ----- FONTS ----- */

@font-face {
  font-family: "Pangolin-Regular.ttf", sans-serif;
  src: url(../assets/fonts/Pangolin-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "ArchitectsDaughter-Regular.ttf", sans-serif;
  src: url(../assets/fonts/ArchitectsDaughter-Regular.ttf);
  font-display: swap;
}
