.bgSky {
  width: 100vw;
  height: 100vh;
  img {
    box-sizing: border-box;
  }
  h1 {
    position: absolute;
    z-index: 1;
    font-size: 2rem;
    color: red;
    text-align: center;
  }
}

.skyline {
  position: absolute;
  top: 53vh;
  img {
    width: 100%;
    height: auto;
  }
}

.character {
  position: absolute;
  top: 50vh;
  z-index: 2;
  left: 50vh;

  img {
    width: 100%;
    height: auto;
  }
}

.about {
  position: absolute;
  left: 35vw;
  top: 100vh;
  z-index: 3;
  width: 20vw;
  height: 50vh;
  background-color: rgba($color: yellow, $alpha: 0.3);
  backdrop-filter: blur(8px);

  border-radius: 35px;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  color: red;
  text-align: center;
}
