@import "_elements";
@import "index";

/* ----- LAYOUT ----- */

.navbar {
  background-color: yellowgreen;
  width: 100vw;
  height: 5rem;
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  ul {
    list-style: none;
    display: flex;
    li {
      margin: 0 2rem;
    }
  }
}
