@import "_elements";
@import "index";

/* ----- LAYOUT ----- */

.navbar {
  width: 100vw;
  height: 10rem;
  position: fixed;
  display: inline-block;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  padding-left: 5vw;
}

/* ----- LOGO ----- */
.toggle {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  border: none;
  background: none;
  width: auto;
  height: auto;
  bottom: 1.5rem;
  left: 1.5rem;
  cursor: pointer;
  .logo {
    position: relative;
    aspect-ratio: 1/1;
    width: 12rem;
  }
}

/* ----- MENU ----- */
.menu {
  position: relative;
  display: flex;
  list-style: none;
  white-space: nowrap;
  left: 6vw;
  bottom: 5vh;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease-in-out;
  li {
    margin: 3rem;
  }
}

.toggle:hover ~ .menu {
  opacity: 1;
  visibility: visible;
}
.menu:hover {
  opacity: 1;
  visibility: visible;
}
